# Ignore everything
*

# Allow directories so unignored files in subdirectories are reachable
!*/

# Allow Markdown files in root and in any subdirectory
## Allow only markdown files in repository root
!/*.md

# Allow the .gitignore itself so it can be committed
!.gitignore
